@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
body{
    font-family: 'Open Sans', sans-serif;
}
*:hover{
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
section{
    float:left;
    width:100%;
    background: #fff;  /* fallback for old browsers */
    padding:30px 0;
}
h1{float:left; width:100%; color:#232323; margin-bottom:30px; font-size: 14px;}
h1 span{font-family: 'Libre Baskerville', serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px; font-weight:700}
h1 a{color:#131313; font-weight:bold;}

/*Profile Card 1*/
.profile-card-1 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  color: #ffffff;
  text-align: center;
  height:368px;
  border:none;
}
.profile-card-1 .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(5px);
  filter: blur(5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card-1 .card-content {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  top: 50%;
}
.profile-card-1 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-1 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card-1 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-1 i {
  display: inline-block;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-1 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card-1 .icon-block a{
    text-decoration:none;
}
.profile-card-1 i:hover {
  background-color:#fff;
  color:#2E3434;
  text-decoration:none;
}

/*Profile card 2*/
.profile-card-2 .card-img-block{
    float:left;
    width:100%;
    height:150px;
    overflow:hidden;
}
.profile-card-2 .card-body{
    position:relative;
}
.profile-card-2 .profile {
  border-radius: 50%;
  position: absolute;
  top: -42px;
  left: 15%;
  max-width: 75px;
  border: 3px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-2 h5{
    font-weight:600;
    color:#6ab04c;
}
.profile-card-2 .card-text{
    font-weight:300;
    font-size:15px;
}
.profile-card-2 .icon-block{
    float:left;
    width:100%;
}
.profile-card-2 .icon-block a{
    text-decoration:none;
}
.profile-card-2 i {
  display: inline-block;
    font-size: 16px;
    color: #6ab04c;
    text-align: center;
    border: 1px solid #6ab04c;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-2 i:hover {
  background-color:#6ab04c;
  color:#fff;
}

/*Profile Card 3*/
.profile-card-3 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height:368px;
  border:none;
}
.profile-card-3 .background-block {
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.profile-card-3 .background-block .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card-3 .card-content {
  width: 100%;
  padding: 15px 25px;
  color:#232323;
  float:left;
  background:#efefef;
  height:50%;
  border-radius:0 0 5px 5px;
  position: relative;
  z-index: 9999;
}
.profile-card-3 .card-content::before {
    content: '';
    background: #efefef;
    width: 120%;
    height: 100%;
    left: 11px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
    transform: rotate(-13deg);
}
.profile-card-3 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index:99999;
}
.profile-card-3 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card-3 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-3 i {
  display: inline-block;
    font-size: 16px;
    color: #232323;
    text-align: center;
    border: 1px solid #232323;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-3 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card-3 .icon-block a{
    text-decoration:none;
}
.profile-card-3 i:hover {
  background-color:#232323;
  color:#fff;
  text-decoration:none;
}


/*Profile card 4*/
.profile-card-4 .card-img-block{
    float:left;
    width:100%;
    height:150px;
    overflow:hidden;
}
.profile-card-4 .card-body{
    position:relative;
}
.profile-card-4 .profile {
    border-radius: 50%;
    position: absolute;
    top: -62px;
    left: 50%;
    width:100px;
    border: 3px solid rgba(255, 255, 255, 1);
    margin-left: -50px;
}
.profile-card-4 .card-img-block{
    position:relative;
}
.profile-card-4 .card-img-block > .info-box{
    position:absolute;
    background:rgba(217,11,225,0.6);
    width:100%;
    height:100%;
    color:#fff;
    padding:20px;
    text-align:center;
    font-size:14px;
   -webkit-transition: 1s ease;
    transition: 1s ease;
    opacity:0;
}
.profile-card-4 .card-img-block:hover > .info-box{
    opacity:1;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.profile-card-4 h5{
    font-weight:600;
    color:#d90be1;
}
.profile-card-4 .card-text{
    font-weight:300;
    font-size:15px;
}
.profile-card-4 .icon-block{
    float:left;
    width:100%;
}
.profile-card-4 .icon-block a{
    text-decoration:none;
}
.profile-card-4 i {
  display: inline-block;
    font-size: 16px;
    color: #d90be1;
    text-align: center;
    border: 1px solid #d90be1;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-4 i:hover {
  background-color:#d90be1;
  color:#fff;
}

/*Profile Card 5*/
.profile-card-5{
    margin-top:20px;
}
.profile-card-5 .btn{
    border-radius:2px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
}
.profile-card-5 .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    
}
.profile-card-5 .card-img-block img{
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);
}
.profile-card-5 h5{
    color:#4E5E30;
    font-weight:600;
}
.profile-card-5 p{
    font-size:14px;
    font-weight:300;
}
.profile-card-5 .btn-primary{
    background-color:#4E5E30;
    border-color:#4E5E30;
}





@import url("../../../cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@font-face {
	font-family: 'gotham';
	src: url('fonts/Gotham-Medium-Regular.ttf');
	font-weight: bold;
  }
@font-face {
	font-family: 'gotham';
	src: url('fonts/Gotham-Light.otf');
}
:root {
	--red: #a62c2b;
	--green: #296e01;
	--yellow: #fdcc0d;
  }

button{
	cursor: pointer;
}

.text {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 6; /* number of lines to show */
			line-clamp: 6; 
	-webkit-box-orient: vertical;
 }
  
  
  .pagination li.active {
	background-color: #4CAF50;
	color: white;
	border: 1px solid #4CAF50;
  }
  
  .pagination li:hover:not(.active) {background-color: #ddd;}
  
  .pagination li:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
  }
  
  .pagination li:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
  }  
.metallic-red{
	color:#a62c2b;
}
.metallic-green{
	color:#296e01;
}
.metallic-yellow{
	color:#fdcc0d;
}
.btn-category{
	font-size: 18px;
}
h1{
	margin-bottom: 10px !important;
}
.logo{
    max-width: 140px;
    max-height: 65px;
    cursor: pointer;
}
body{
    font-family: 'gotham';
	overflow-x: hidden;
}


fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after {
	content: "";
	display: table;	
}
.clearfix:after { clear: both; }

/* ---------- SEARCH ---------- */
.cover-search{
	min-height: 64px;
}
#search {
	background: #fff;
	border-radius: 3px;
	display: inline-block;
	padding: 7px;
    width: inherit;
}

#search input {
	color: #1B1B21;
	padding: 10px;
	font-size: 1rem;
}

#search input[type="search"],
#search input[type="submit"] {
	border-radius: 3px;
	font-size: 1rem;
	width: auto;
}

#search input[type="search"] {
	background: #fff;
	color: #42454e;
	min-width: 75%;
	padding: 6px 8px;
}

#search input[type="submit"] {
	background: #B30E16;
	color: #fff;
	padding: 6px 10px;
}

#search input[type="submit"]:hover {
	background: #189e83;
}

#search input[type="search"]::-webkit-input-placeholder { color: #fff; }
#search input[type="search"]:-moz-placeholder { color: #fff; }
#search input[type="search"]:-ms-input-placeholder { color: #fff; }

.section-title{
	font-size: 1.125rem;
}


.custom-btn {
	width: 130px;
	height: 40px;
	color: #fff;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
	outline: none;
	border: none;
	letter-spacing: 0.5px;
	text-transform: capitalize;
	margin-right:40px;
	margin-bottom:40px;
}



.bright-red-bg{
	background:linear-gradient(to right, #cb2d3e, #ef473a) !important;color:white;
}
.bright-green-bg{
	background:linear-gradient(to right, #093028, #237A57) !important;color:white
}
.bright-yellow-bg{
	background:  linear-gradient(to right, #F7971E,#FFD200 );
}
.review-bad{
	background: linear-gradient(#fff,#fff) padding-box, linear-gradient(to right, #cb2d3e, #ef473a) border-box;
	padding: 20px;
	border: 5px solid transparent;
	border-radius: 15px;
	display: inline-block;
}
.review-medium{
	background: linear-gradient(#fff,#fff) padding-box, linear-gradient(to right, #F7971E,#FFD200 ) border-box;
	padding: 20px;
	border: 5px solid transparent;
	border-radius: 15px;
	display: inline-block;
}

.review-good{
	background: linear-gradient(#fff,#fff) padding-box, linear-gradient(to right, #56ab2f, #a8e063) border-box;
	padding: 20px;
	border: 5px solid transparent;
	border-radius: 15px;
	display: inline-block;
}
.propicbox {
	float: left;
}


.propic {
	width: 50px;
	border-radius: 50px;   
}

.reviewerbox {
	margin: -7px 0 0 60px;
	
}



.reviewername {
	color: black;
	font-size: 18px;
	font-weight: 600;
}

a, a:visited, a:hover {
	color: #1B3D81;
	text-decoration: none;
}

.reviewdate {
	font-size: 14px;
	line-height: 1em;
	font-weight: 400;
	color: #1B3D81;
	margin: -10px 0 0 0
}


.review {
	box-sizing: border-box;
	font-size: 16px;
	line-height: 1.5em;
}

.bottomText {
	margin: 15px 0 15px;
	font-size: 14px;
	color: #1B3D81;
}
.fa-check-circle{
	color: #1B3D81;
}
.plans-cover-text{
	font-size: 1.8rem;
	line-height: 2.8rem;
	opacity: 0.6;
}

.plans-cover-text-2{
	font-size: 5.8rem;
	line-height: 6rem;
}

.card-header{
	background: transparent;
}
.card2{
	border: 5px solid #F5D21F;
	border-radius: 12px;
}

.card1{
	border: 5px solid #B30E16;
	border-radius: 12px;

}
.card3{
	border: 5px solid #14903F;
	border-radius: 12px;

}
@keyframes animation {
0%{
	opacity: 0;
	transform: scale(.1)  rotate(30deg);
}
50%{
	transform: rotate(-10deg);
}
75%{
	transform: rotate(3deg);
}
100%{
	opacity: 1;
	tranform: scale(1);
}
}

/* set the size and position of the icon */
.icon-plus {
	position: relative;
	top:50%;
	left:50%;
	width: 30px;
	height: 30px;
	color:rgb(11, 136, 84);
	transform: translate(-50%, -50%);
  }
  /* vertical line */
  .icon-plus:before {
	content:"";
	position: absolute;
	top: 0;
	left: 37.5%;
	width: 25%;
	height: 100%;
	background-color: rgb(11, 136, 84);
  }
  /* horizontal line */
  .icon-plus:after {
	content:"";
	position: absolute;
	top:37.5%;
	left: 0;
	width: 100%;
	height: 25%;
	background-color: rgb(11, 136, 84);
  }

  @keyframes scroll {
	0% {
		transform: translateX(0);
   }
	100% {
		transform: translateX(calc(-250px * 5));
   }
}
.slider {
	height: fit-content;
	margin: 20px;
	overflow: hidden;
	position: relative;
	width: auto;

}
/* .slider::before, .slider::after {
	background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
	content: "";
	height: 100px;
	position: absolute;
	width: 200px;
	z-index: 2;
} */
.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}
.slider::before {
	left: 0;
	top: 0;
}
.slider .slide-track {
	animation: scroll 40s linear infinite;
	display: flex;
	width: calc(250px * 14);
}
.slider .slide-track:hover
{
    animation-play-state: paused;
}
/* .slider .slide {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
} */

ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
   background: linear-gradient(to right, #000000, #000000) !important;
  position: relative;
}
.footer-rokon{
background: linear-gradient(to right, #000000, #000000) !important;	
}

.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #B30E16;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #ffffff;;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #fff;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
	color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: var(--blue);
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  color: black;
  background: #B30E16;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #B30E16;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #B30E16;
    padding: 13px 20px;
    border: 1px solid #B30E16;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: linear-gradient(to right, #000000, #000000) !important;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
}
.copyright-text p a{
  color: #B30E16;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #B30E16;
}
.footer-menu li a {
  font-size: 14px;
  color: #ffffff;
}

.metallic-red-bg{
	background:linear-gradient(to right, #cb2d3e, #ef473a) !important;color:white;border:0px !important;
}

:root {
	--star-size: 60px;
	--star-color: #fff;
	--star-background: #fc0;
}
.Stars {
	--percent: calc(var(--rating) / 5 * 100%);
	display: inline-block;
	font-size: var(--star-size);
	font-family: Times;
	line-height: 1;
}
.Stars::before {
	content: '★★★★★';
	letter-spacing: 3px;
	background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.metallic-red{
	color: #B30E16;
}

.checkmark__circle {
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke: green;
	fill: none;
	animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	display: block;
	stroke-width: 2;
	stroke: green;
	stroke-miterlimit: 10;
	margin: 10% auto;
	box-shadow: inset 0px 0px 0px #7ac142;
	animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  
  .checkmark__check {
	transform-origin: 50% 50%;
	stroke-dasharray: 48;
	stroke-dashoffset: 48;
	animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  
  @keyframes stroke {
	100% {
	  stroke-dashoffset: 0;
	}
  }
  @keyframes scale {
	0%, 100% {
	  transform: none;
	}
	50% {
	  transform: scale3d(1.1, 1.1, 1);
	}
  }
  @keyframes fill {
	100% {
	  box-shadow: inset 0px 0px 0px 30px #fff;
	}
  }

  
 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

	.cover{
		background-size:contain;
		background-repeat: no-repeat;
		background-position: bottom;
		background-color: #D7DDD7;
		background-position-y: 80%;
	}
	.cover-sm-bg{
		height: 200px;
		background-image: url("../images/cover1.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-color: #D7DDD7;
		background-position: center;
		width: 100%;
	}
	.cover-text{
		font-size: 18px;
	}
	.cover-text-2{
		font-size: 14px;
	}

	.category-block {
		padding: 13px 22px;
		min-width: 190px;
		/* min-height: 89px; */
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 12px;
		transition: all 0.2s ease;
	}
	.text-sm-center{
		text-align: center;
	}
	.category-block {
		padding: 8px 3px;
		min-width: 170px;
		/* min-height: 89px; */
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 12px;
		transition: all 0.2s ease;
	}
	.reviewcard {
		box-sizing: border-box;
		font-weight: 400;
		height: fit-content;
		margin: 20px;
		color: black;
	}
	.slider {
	height: fit-content;
	margin: 10px;
	overflow: hidden;
	position: relative;
	width: auto;
	}
	.navbar-light .navbar-nav .nav-link {
	margin: 0px;
	}
	.category-parent-sm{
		font-size: 18px !important;
	}
	.pagination li {
		color: black;
		float: left;
		padding: 1px 7px;
		text-decoration: none;
		border: 1px solid #ddd;
	}
	.font-heading-sm{
		font-size: 18px !important;
	}
	.font-description-sm{
		font-size: 12px !important;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

	.cover{
		min-width: 1349px;
		max-height: 492px;
		background-image: url("../images/cover1.jpg");
		background-size:contain;
		background-repeat: no-repeat;
		background-position: right;
		background-color: #D7DDD7;
		background-position-y: 80%;
	}
	.cover-text{
		font-size: 2.875rem;
		line-height: 3.75rem;
	}
	.cover-text-2{
		font-size: 1.25rem;
		line-height: 1.75rem;
	}
	.category-block{
        padding: 24px 18px;
        min-width: 290px;
        min-height: 89px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        transition: all 0.2s ease;
    }
	.text-lg-left{
		text-align: left;
	}
	.reviewcard {
		box-sizing: border-box;
		padding: 20px;
		font-weight: 400;
		border-radius: 15px;
		width: 20vw;
		height: fit-content;
		margin: 20px;
		color:black;
		background-color: white;
	}
	.navbar-light .navbar-nav .nav-link{
		margin: 20px 5px;
	}
	.pagination li {
		color: black;
		float: left;
		padding: 8px 16px;
		text-decoration: none;
		border: 1px solid #ddd;
	  }
}











.footer-bs {
    background-color: #3c3d41;
	padding: 15px 10px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 1px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}






.navbar-nav li {
  a {
    color: #E69D32;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
  }
}





/*Hero css*/

body, html {
    height: 125%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/Images/hero-image.jpeg);

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.btn-text{
	color: white;
	font-weight: bold;
	font-size: 150%;
	text-shadow: 5px 5px 10px black;
}

/*Hero css*/


body{background: #eee}.news{width: 160px}.news-scroll a{text-decoration: none}.dot{height: 6px;width: 6px;margin-left: 3px;margin-right: 3px;margin-top: 2px !important;background-color: rgb(207,23,23);border-radius: 50%;display: inline-block}